.col {
    background-color: gray;
    outline: 1px solid black;
}
.col-9 {
    background-color: gray;
    outline: 1px solid black;
}
.col-3 {
    background-color: gray;
    outline: 1px solid black;
}